/* Home.css */
.home-container {
    /* background-image: url('homee.png'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: #fff;
  }
  
  .home-header {
    align-items: center;
    width: 100%;
    padding: 20px;
    position: relative;
    text-align: center; /* Center the text within the header */
  }
  
  .app-logo {
    position: absolute;
    top: -400%;
    left: 50%; /* Center the logo horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  }
  
  .logo {
    width: 200px;
    height: 125px;
    border-radius: 50%;
  }
  
  .title {
    text-align: center;
    margin-top: 20px;
  }
  
  .title h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .title p {
    font-size: 20px;
  }
  
  .video-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    position: absolute;
    top: -200%;
    left: 25%;
  }
  
  .search-input {
    width: 500px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ef0bf7;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
  }
  
  .search-button {
    width: 180px;
    height: 70px;
    font-size: 18px;
    background-color: #080e18;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-top: 0px;
  }
  
  .search-button:hover {
    background-color: #091f2f;
    color: #fff;
    transform: scale(1.1);
  }
  
  /* Navbar styles (if not already defined in Navbar2.css) */
  .navbar {
    background-color: #111;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .options-slider {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  
  .user-profile:hover .options-slider {
    display: flex;
  }
  
  .options-slider a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: background-color 0.3s;
  }
  
  .options-slider a:hover {
    background-color: #555;
  }
  