/* Navbar2.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #111; /* Dark background color for the navbar */
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .right {
    display: flex;
    gap: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .user-profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .options-slider {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .user-profile:hover .options-slider {
    display: flex;
  }
  
  .options-slider a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
    font-size: 14px;
  }
  
  .options-slider a:hover {
    background-color: #555;
  }
  