/* VideoSearch.css */
.video-search {
    text-align: center;
    padding: 20px;
    background-color: #0c070f; /* Dark background color */
  }

  .search-input {
    width: 100%; /* Adjust the width of the input */
    height: 50px; /* Adjust the height of the input */
    font-size: 18px; /* Adjust the font size */
    padding: 10px; /* Add padding to the input */
    border: 2px solid #000; /* Dark border */
    background-color: #111; /* Dark background color for the input */
    color: #fff; /* Text color */
  }

  .search-button {
    width: 150px; /* Adjust the width of the button */
    height: 70px; /* Adjust the height of the button */
    font-size: 18px; /* Adjust the font size */
    background-color: #000; /* Dark background color for the button */
    border: 2px solid #fff; /* White border for the button */
    color: #fff; /* Text color */
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #fff; /* Change background color on hover */
    color: #000; /* Change text color on hover */
  }
