body {
  background-color: #0c070f;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff; /* Text color for the entire page */
}

.app-container {
  background-color: #0c070f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center; /* Center text in the content */
}

/* You can keep your existing styles */

/* Styles for Home Page */
.home-background {
  background-color: #0c070f; /* Set the background color for the Home page */
}

/* Styles for Login Page */
.login-background {
  background-color: #0c070f; /* Set the background color for the Login page */
}

/* Styles for Registration Page */
.registration-background {
  background-color: #0c070f; /* Set the background color for the Registration page */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* The following styles remove the header from non-home pages */
.content {
  background-color: #0c070f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; /* Text color for the content */
  padding: 20px;
}

a {
  text-decoration: none;
  color: #61dafb; /* Link text color */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
